* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}

span {
    color: var(--second-color);
}

/* main {
    background-image: url("../../img/main\ food\ image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
section {
    margin: 2% 0;
    display: flex;
    justify-content: center;
}
.name_login {
    text-align: center;
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    padding: 2rem 0;
}

.login_page {
    display: grid;
    max-width: 25rem;
    border-radius: 3.125rem;
    padding: 2rem;
    background-color: var(--other-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.login_page img {
    width: 40%;
    margin: auto;
}
.login_page label {
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--h2-font);
    padding: 1rem ;
}
.input_box {
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    padding: 1rem ;
    font-family: var(--parah-fontfamily);
    font-size: 1rem;
}
/* .input_box::placeholder {
    font-family: var(--parah-fontfamily);
    font-size: 1rem;
    color: var(--bg-color);
}
input:focus{
    background-color: var(--text-color);
    color: var(--bg-color);
    font-family: var(--p-font);
    font-size: 1rem;
} */
#pattern {
    padding: .4rem 0;
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
    font-family: var(--parah-fontfamily);
}

.visible_pass{
    padding-top: 2rem;
}
.visible_pass label{
    font-size: var(--p-font);
}
.forget_pass {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: blue;
    padding-bottom: 1rem;
    text-align: center;
}
.forget_pass:hover{
    transition: .2s;
    color: var(--second-color);
}
.for_button {
    padding: 2rem 0;
    text-align: center;
}

.btn_login {
    position: relative;
    padding: .5rem 1rem;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    border-radius: 1.25rem;
    font-weight: bolder;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    transition: 1s;
  }
  
  .btn_login::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 4%;
    width: 93%;
    height: 40%;
    background-color: var(--other-color);
    transition: 0.5s;
    transform-origin: center;
  }
  
  .btn_login::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: var(--other-color);
    transition: 0.5s;
  }
  
  .btn_login:hover::before, .btn_login:hover::after {
    transform: scale(0)
  }
  
  .btn_login:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }



.login_page p {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    text-align: center;
}
.login_page p a {
    color:blue;
}
.login_page p a:hover{
    transition: .2s;
    color: var(--second-color);
}


footer {
    background-color: var(--other-color);
}
.footer-details {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-links a {
    padding: .5rem;
}
.footer-details p {
    padding: 1rem;
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
}
.footer-links a img {
    width: 3.125rem;
}

@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }
    .footer-details {
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    html {
        font-size: 10px;
    }
    
}