* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}

span {
    color: var(--second-color);
}


    /* Content Start*/

.ingredient-image {
    background-image: url(../../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    padding: .625rem 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}

.my-orders {
    height: 40vh;
    
}
.my-orders_list {
    border: 1px solid var(--text-color);
    border-radius: 1.875rem;
    margin: 1.3rem;
    background-color: var(--other-color);
    
}
.cart_ord-tif-text {
    
    height: 3.125rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2.5rem;
}
.cart_ord-tif-text h2 {
    font-family:var(--heading-fontfamily);
    font-size:var(--big-font);
    color: var(--second-color);
    width: 13.75rem;
    border: 1px solid var(--text-color);
    text-align: center;
    height: 1.875rem;
    padding-bottom: .625rem;
}
.cart_ord-tif-text:first-child label{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cart_ord-tif-text label {
    text-align: center;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: bold;
    width: 13.75rem;
    border: 1px solid var(--text-color);
    padding: 5px;
}
.cart_ord-tif-text label input {
    height: auto;
    margin-left: .625rem;
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    border: transparent;
    border-bottom: 2px solid var(--second-color);
}
.date {
    width: 9.375rem;
    height: 2.5rem;
}
.number {
    width: 3.125rem;
} 
.dropdown_menu-type {
    position: relative;
}
.dropdown_menu-type:hover .bx-chevron-up {
    color: var(--text-color);
    transition: .1s;
    transform: rotate(180deg);
}

.menu-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.menu-heading h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
}
.bx-chevron-up  {
    font-size: var(--name-font);
}
.bx-chevron-up:hover {
    color: var(--text-color);
    transition:.1s;
    transform: rotate(180deg);
}

.dropdown_menu-type-content {
    display: none; 
    position: absolute;
    margin-top: .5rem;
    background: rgb(189, 226, 132);
    padding: .625rem;
    z-index: 1;
    
    border-radius: 1.25rem;
}
.dropdown_menu-type:hover .dropdown_menu-type-content {
    display: block;
}

.dishes {
    
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap:1rem;
}
.dishes li {
    padding: .625rem;
    border: transparent;
    font-family: var(--parah-fontfamily);
    font-size: var(--normal-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    font-weight: bolder;
    border-radius: .625rem;
}








footer {
    height: 10vh;
}
.footer-details {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
    border-top: 2px solid var(--text-color);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 3.125rem;
    
}



@media screen and (max-width:400px){
    html{
        font-size: 8px;
    }


    .bx-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .responsive-navigation {
        display:none;
        overflow: hidden;
        position: absolute;
        top: 9%;
        right: -100px;
        width: 80px;
        z-index: 10001;
        padding: 0;
        background-color: var(--other-color);
        transition: all .3s ;
        border-radius: 1rem;
    }
    .responsive-navigation li {
        padding: .5rem 0;
        border-bottom: .5px solid var(--bg-color);

    }
    .bx-menu:hover .responsive-navigation {
        display: block;
        right: 0;
    }

    .footer-details {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:300px) {
    html {
        font-size: 7px;
    }
    
}
