* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}


.profile {
    display: flex;
    justify-content: center;
}
form {
    padding: 1rem 2rem;
    margin:2% 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form h2 {
    text-align: center;
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
}
.top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center;
    padding: 1rem 0 1.5rem 0;
}
.delete {
    color: var(--text-color);
    background-color: var(--second-color);
    justify-content: flex-end;
}

/* .profile_photo {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
} */

/* .sr {
    border-radius: 50%;
    width:21rem;  
    height: 21rem;
    padding: 1rem;
} */
/* .profile_form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    padding: 1rem;
} */
.profile_form {
    display: grid;
    gap: 2rem;
}
.profile_form div {
    display: grid;
    grid-template-columns: auto auto;
}
.profile_form div label {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: bold;
}
.profile_form div input {
    color: var(--text-color);
    border: none;
    border-bottom: 1px solid black;
    background-color: var(--bg-color);
    padding-bottom: .2rem;
    padding-left: 1rem;
    font-size: var(--h2-font);
}
.profile_form div textarea {
    color: var(--text-color);
    padding: .2rem .2rem;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
}
/* .details{
    display: grid;
    gap: 1rem;
    padding: 2rem 5rem;
} */
/* .details label {
    font-family: var(--parah-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: bold;
} */

/* .details input {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    padding: .5rem;
    font-size: var(--h2-font);
    border-radius: 1rem;
}  */
#pattern{
    display: none;
    padding: .4rem 0;
    font-size: .9rem;
    font-weight: bold;
    font-family: var(--parah-fontfamily);
    text-align: center;
}
.show_password {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--second-color);
    text-align: center;
    padding: 1rem;
}
.btn_content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
}
.btn {
    font-family: var(--parah-fontfamily);
    font-size: 1rem;
    padding: .625rem 1.25rem;
    border: transparent;
    font-weight: bold;
}
.btn:hover {
    transition: .5s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.edit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(--text-color);
    background-color: var(--other-color);
    border-radius: 1.25rem;
}
.edit img {
    width: 1.25rem;
    height: 1.25rem;
}

.save {
    color: var(--bg-color);
    background-color: var(--thickgreen-color);
    border-radius: 1.25rem;
}

.back  {
    color: var(--text-color);
    background-color: var(--other-color);
    border-radius: 1.25rem;
}
.logout_button{
    display: grid;
    justify-items: center;
    padding: 1rem;
}
.logout {
    color: var(--bg-color);
    background-color: var(--second-color);
    padding: .5rem 1rem;
    border-radius: 1.25rem;
}
#div_AddBtn {
    display: flex;
    justify-content: center;
}
.addbtn {
    color: var(--bg-color);
    background-color: var(--thickgreen-color);
    border-radius: .4rem;
}






footer {
    background-color: var(--other-color);
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-links a {
    padding: .5rem;
}
.footer-details p {
    padding: 1rem;
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
}
.footer-links a img {
    width: 3.125rem;
}

@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }
    .footer-details {
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    html {
        font-size: 10px;
    }
    
}