* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --normal-font:1rem;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 40px;
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}

.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}
.dropdown span {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}


.profile {
    height: 95vh;
}
form{
    margin: 50px 50px;
    height: 80%;
    border-radius: 30px;
    box-shadow: 10px 10px 40px 10px var(--text-color);
    background-color: var(--other-color);
}

.profile_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;

}
form h2 {
    text-align: center;
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    padding: 20px 0;
}
.profile_details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edit_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 160px;
    height: 36px;
    padding: 5px 0;
    border-radius: 10px;
}
.edit_button:hover {
    transform: scale(1.1);
    transition: .2s;
    box-shadow: 8px 0 8px black;
    
}
.edit_button img {
    width: 20px;
    height: 20px;
    
}
.details{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.details-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--parah-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: bold;
}
.details-1 div {
    position: absolute;
    margin-left: 300px;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    padding: 5px 40px;
    font-size: var(--h2-font);
    border-radius: 20px;
}


.btn_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    
    padding: 10px 20px;
    border-radius: 20px;
    border: transparent;
    font-weight: bold;
}
.save {
    color: var(--bg-color);
    background-color: green;

}
.back  {
    color: var(--text-color);
    background-color: var(--bg-color);
    
}
.logout_button{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logout {
    color: var(--bg-color);
    background-color: var(--second-color);
    width: 120px;
}

.btn:hover {
    transform: scale(1.1);
    transition: .2s;
    box-shadow: 8px 0 10px black;
}
.profile_img {
    width: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sr {
    border-radius: 180px;
    width: 250px;
    height: 367px;
    
}


footer {
    padding-top:20px ;
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px 50px;
    margin:0 30px;
    font-size: var(--p-font);
    border-top: 2px solid var(--text-color);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 50px;
}