* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 2.5rem;
}
.catering {
    width: 4.375rem;
}
.logo {
    width: 7.5rem;
}

.menu-bar {
    font-size: 1.875rem;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem;
    list-style: none;
   
}
.navigation-link {
    padding: 1.25rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    width: 11.25rem;
    border-radius: 1.25rem;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 3.125rem;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    right: 10%;
    border-radius: 1.25rem;
    width: 6.875rem;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-1.875rem 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}


.profile {
    height: 95vh;
}
form{
    margin: 3.125rem;
    height: 80%;
    border-radius: 1.875rem;
    box-shadow: .625rem 2.5rem .625rem var(--text-color);
    background-color: var(--other-color);
}

.profile_form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70%;

}
form h2 {
    text-align: center;
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    padding: 1.25rem 0;
}
.profile_details {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.edit_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    background-color: var(--bg-color);
    width: 10rem;
    height: 2.25rem;
    padding: 5px 0;
    border-radius: .625rem;
}
.edit_button:hover {
    transform: scale(1.1);
    transition: .2s;
    box-shadow: .5rem 0 .5rem black;
    
}
.edit_button img {
    width: 1.25rem;
    height: 1.25rem;
    
}
.details{
    height: 18.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.details-1 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: var(--parah-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: bold;
}
.details-1 div {
    position: absolute;
    margin-left: 18.75rem;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    padding: 5px 2.5rem;
    font-size: var(--h2-font);
    border-radius: 1.25rem;
}


.btn_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.btn {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    
    padding: .625rem 1.25rem;
    border-radius: 1.25rem;
    border: transparent;
    font-weight: bold;
}
.save {
    color: var(--bg-color);
    background-color: green;

}
.back  {
    color: var(--text-color);
    background-color: var(--bg-color);
    
}
.logout_button{
    margin-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logout {
    color: var(--bg-color);
    background-color: var(--second-color);
    width: 7.5rem;
}

.btn:hover {
    transform: scale(1.1);
    transition: .2s;
    box-shadow: .5rem 0 .625rem black;
}
.profile_img {
    width: 20%;
    height: 31.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.sr {
    border-radius: 11.25rem;
    width: 15.625rem;
    height: 22.9375rem;
    
}


footer {
    padding-top:1.25rem ;
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    margin:0 1.875rem;
    font-size: var(--p-font);
    border-top: 2px solid var(--text-color);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 3.125rem;
}