* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}

span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 2.5rem;
}
.catering {
    width: 4.375rem;
}
.logo {
    width: 7.5rem;
}

.menu-bar {
    font-size: 1.875rem;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem;
    list-style: none;
   
}
.navigation-link {
    padding: 1.25rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    width: 11.25rem;
    border-radius: 1.25rem;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 3.125rem;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    right: 10%;
    border-radius: 1.25rem;
    width: 6.875rem;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-1.875rem 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

.bx-menu {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


main {
    background-image: url("../../img/ingredient.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.name_register {
    text-align: center;
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);

}
.register {
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 1.25rem 0;
}
.register_page {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 60vh;
    width: 31.25rem;
    border: 2px solid var(--second-color);
    border-radius: 3.125rem;
    padding: 1.25rem;
    position: relative;
    background-color: var(--other-color);
    box-shadow:.625rem .625rem var(--bg-color);
}
.register_page label {
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--h2-font);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input_box {
    position: absolute;
    margin-left: 12.5rem;
    height: 1.875rem;
    width: 45%;
    color: var(--text-color);
    
    border: 1px solid var(--text-color);
    padding-left: 1.25rem;
    font-family: var(--parah-fontfamily);
    font-size: .9375rem;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.btn_submit {
    padding: .625rem 1.25rem;
    width: 6.25rem;
    color: var(--second-color);
    background-color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--parah-fontfamily);
    border-radius: 1.25rem;
    font-weight: bold;
    border: transparent;
}
.btn_submit:hover {
    background-color: var(--second-color);
    color: var(--text-color);
}
.exciting_user {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--second-color);
    border-bottom: 1px solid var(--text-color);
}
.exciting_user:hover{
    color: var(--text-color);
}


footer {
    padding-top:1.25rem ;
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
    border-top: 2px solid var(--text-color);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 3.125rem;
}

@media screen and (max-width:360px){
    html{
        font-size: 8px;
    }


    .bx-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .responsive-navigation {
        overflow: hidden;
        position: absolute;
        top: 9%;
        right: -100px;
        width: 80px;
        z-index: 10001;
        padding: 0;
        background-color: var(--other-color);
        transition: all .3s ;
        border-radius: 1rem;
    }
    .responsive-navigation li {
        padding: .5rem 0;
        border-bottom: .5px solid var(--bg-color);

    }
    .bx-menu:hover .responsive-navigation {
        display: block;
        right: 0;
    }

    .footer-details {
        flex-wrap: wrap;
        justify-content: center;
    }

}