* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 2.5rem;
}
.catering {
    width: 4.375rem;
}
.logo {
    width: 7.5rem;
}

.menu-bar {
    font-size: 1.875rem;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem;
    list-style: none;
   
}
.navigation-link {
    padding: 1.25rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    width: 11.25rem;
    border-radius: 1.25rem;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 3.125rem;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    right: 10%;
    border-radius: 1.25rem;
    width: 6.875rem;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

.bx-menu {
    display: none;
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
}

.ingredient-image {
    background-image: url(../../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    padding: .625rem 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}

/* .menu-list {
    height: 100vh;

} */
.menu-list_types {
    padding: 5rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    /* display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
}
.menu-list_1 {
    /* width: 22%;
    height: 60vh; */
    padding: 3.125rem 0;
    /* display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; */
}
.menu-list_1:hover {
    transform: scale(1.1);
    border-radius: 20px;
}
.dish {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: .625rem;
    box-shadow: 0 .5rem 1.25rem black;
}
.menu-list_1 div {
    /* height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;*/
    padding-top: 2rem;
    text-align: center;
}
.menu-list_1 div h2 {
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    color: var(--second-color);
    padding-bottom: 1rem;
}
.menu-list_1 div p {
    font-family: var(--parah-fontfamily);
    font-size: var(--h2-font);
    padding-bottom: 1rem;
}


.view-button {
    padding: .625rem 1.25rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    border-radius: 1.25rem;
    transition-timing-function: .2s;
    font-weight: bold;
}
.view-button:hover {
    background-color: var(--second-color);
    color: var(--bg-color);
    border: transparent;
}


footer {
    /* height: 60vh; */
    background-color: var(--other-color);
}
.footer-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 2rem;
    /* height: 69%
    margin: 0 3.125rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    padding:2rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid var(--text-color);
}  
.footer-content {
    padding: 1rem;
    /* display: flex;
    flex-direction: column;
    width: 20%; */
}
.footer-content img {
    width: 12.5rem;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 1.875rem;
    color: var(--text-color);
    margin-left: 1.25rem;
    font-family: var(--parah-fontfamily);
    
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 1.25rem 0 0 .625rem;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 3.125rem;
    font-size: var(--p-font);
    padding-left: 1.25rem;
}
.footer-navigation{
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-weight: bold; 
}

.footer-navigation:hover {
    color: var(--second-color);
    transition: .2s;
    border-bottom: 1px dashed var(--text-color);
}
.footer-details {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-links a {
    padding: .5rem;
}
.footer-details p {
    padding: 1rem;
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
}
.footer-links a img {
    width: 3.125rem;
}

@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }
    .footer-details {
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    html {
        font-size: 10px;
    }
}


/* @media screen and (max-width:400px){
    html{
        font-size: 8px;
    }


    .bx-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .responsive-navigation {
        display:none;
        overflow: hidden;
        position: absolute;
        top: 9%;
        right: -100px;
        width: 80px;
        z-index: 10001;
        padding: 0;
        background-color: var(--other-color);
        transition: all .3s ;
        border-radius: 1rem;
    }
    .responsive-navigation li {
        padding: .5rem 0;
        border-bottom: .5px solid var(--bg-color);

    }
    .bx-menu:hover .responsive-navigation {
        display: block;
        right: 0;
    }
    .menu-list_types {
        padding: 0;
        flex-direction: column;
    }
    .menu-list_1 {
        width: 100%;
        height: 20%;
        flex-direction: row;
    }
    .menu-list_1 div {
        width: 30%;
    }



    
    .footer-box{
       margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .footer-content {
        width: 25%;
    }
    .footer-details {
        flex-wrap: wrap;
    }

} */

@media screen and (max-width:300px){
    html {
        font-size: 7px;
    }
    
}