* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --normal-font:1rem;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 2.5rem;
}
.catering {
    width: 4.375rem;
}
.logo {
    width: 7.5rem;
}

.menu-bar {
    font-size: 1.875rem;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem;
    list-style: none;
   
}
.navigation-link {
    padding: 1.25rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    width: 11.25rem;
    border-radius: 1.25rem;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 3.125rem;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    right: 10%;
    border-radius: 1.25rem;
    width: 6.875rem;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-1.875rem 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

.bx-menu {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}


.ingredient-image {
    background-image: url(../../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    padding: .625rem 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}
.special_dinner {
    height: 110vh;
    
}
.special_dinner-content {
    height:100%;
    margin: 0 15%;
}
.special_dinner_about img {
    width: 18.75rem;
    height: 18.75rem;
    border-radius: .625rem;
    box-shadow: 0 .5rem 1.25rem black;
    
}
.special_dinner-content h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    text-align: center;
    padding: 1.25rem;
}

.dishes {
    height: 40%;
    border: 2px solid var(--text-color);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 6px;

}
.dishes li {
    width: 12.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border: transparent;
    font-family: var(--parah-fontfamily);
    font-size: var(--normal-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    font-weight: bolder;
    border-radius: .625rem;
    
}
.btn {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.btn p {
    font-family: var(--parah-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    border-bottom: 2px solid var(--second-color);
}
.add-to-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 10rem;
    padding: .625rem;
    background-color: var(--other-color);
    border: 2px solid var(--text-color);
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: bold;
    font-family: var(--parah-fontfamily);
    border-radius: 2rem;
}
.add-to-cart:hover {
    transform: scale(1.1);
}
.plus-image {
    width: 1.25rem;
}

.buy_now {
    width: 10rem;
    padding: .625rem;
    background-color: var(--other-color);
    border: 2px solid var(--text-color);
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: bold;
    font-family: var(--parah-fontfamily);
    border-radius: 2rem;
}
.buy_now:hover{
    transform: scale(1.1);
}


.special_dinner_about {
    height: 42%;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.special_dinner_about div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    margin-left: 1.25rem;

}
.special_dinner_about div h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
}
.special_dinner_about div p {
    font-family: var(--parah-fontfamily);
    font-size:var(--p-font);
    color: var(--thickgreen-color);
    line-height: 1.875rem;
    font-weight: 700;
}


/* Related menu starts */



.related-menu {
    height: 55vh;
}
.related-menu_heading {
    font-family: var(--heading-fontfamily);
    font-size:var(--h2-font) ;
    color: var(--text-color);
    text-align: center;
    padding: 1.25rem 0;
}
.related-menu_content {
    height: 85%;
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.related-menu1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.related-menu1 img {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: .625rem;
    box-shadow: 0 .5rem 1.25rem black;
}
.related-menu1 a h2 {
    font-family: var(--parah-fontfamily);
    color: var(--text-color);
    font-size: var(--h2-font);
    padding: .625rem 1.25rem;
    border-left: 2px solid var(--text-color);
    border-right: 2px solid var(--second-color);
    border-radius: .625rem;
}
.related-menu1 a h2:hover {
    transform: scale(1.1);
    background-color: var(--other-color);
}



footer {
    height: 55vh;
    background-color: var(--other-color);
}
.footer-box {
    display: flex;
    flex-direction: row;
    padding: 1.25rem 0;
    margin:  0 3.125rem;
    height: 40vh;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--text-color);
}  
.footer-content {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-content img {
    width: 12.5rem;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 1.875rem;
    color: var(--text-color);
    margin-left: 1.25rem;
    font-family: var(--parah-fontfamily);
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 1.25rem 0 0 .625rem;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 3.125rem;
    font-size: var(--p-font);
    padding-left: 1.25rem;
}
.footer-navigation{
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-weight: bold; 
}
.footer-navigation:hover {
    color: var(--second-color);
    transition: .2s;
    border-bottom: 1px dashed var(--text-color);
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 3.125rem;
}



@media screen and (max-width:360px){
    html{
        font-size: 8px;
    }


    .bx-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .responsive-navigation {
        display:none;
        overflow: hidden;
        position: absolute;
        top: 9%;
        right: -100px;
        width: 80px;
        z-index: 10001;
        padding: 0;
        background-color: var(--other-color);
        transition: all .3s ;
        border-radius: 1rem;
    }
    .responsive-navigation li {
        padding: .5rem 0;
        border-bottom: .5px solid var(--bg-color);

    }
    .bx-menu:hover .responsive-navigation {
        display: block;
        right: 0;
    }
    .special_dinner-content {
        margin: 0 3%;
    }
    .special_dinner_about {
        flex-direction: column;
        height: 45%;
    }
    .related-menu_content {
        flex-direction: column;
    }
    .related-menu1 {
        height: 100%;
    }



    
    .footer-box{
       margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .footer-content {
        width: 25%;
    }
    .footer-details {
        flex-wrap: wrap;
        justify-content: center;
    }

}