* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --main-color:#7dd87d;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --small-font:1rem;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 40px;
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}

.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}
.dropdown span {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

.ingredient-image {
    background-image: url(../../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}
.vip_lunch {
    height: 100vh;
    
}
.vip_lunch-content {
    padding-top: 20px;
    margin: 0 15%;
}
.vip_lunch_about img {
    width: 300px;
    height: 300px;
    
}
.vip_lunch-content h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    text-align: center;
    padding: 20px;
}

.dishes {
    height: 40vh;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}
.dishes li {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    border: 1px solid black;
    font-family: var(--parah-fontfamily);
    font-size: var(--small-font);
    color: var(--bg-color);
    background-color: var(--second-color);
}

.span-2 {
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    
}
.vip_lunch_about {
    margin-top: 20px;
    height: 45vh;
    border-bottom: 2px solid var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vip_lunch_about div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    margin-left: 20px;

}
.vip_lunch_about div h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
}
.vip_lunch_about div p {
    font-family: var(--parah-fontfamily);
    font-size:var(--p-font);
    color: var(--thickgreen-color);
    height: 20vh;
    line-height: 30px;
    font-weight: 700;
}
.related-menu {
    height: 50vh;
}
.related-menu_heading {
    font-family: var(--heading-fontfamily);
    font-size:var(--h2-font) ;
    color: var(--second-color);
    text-align: center;
    padding: 20px 0;
}
.related-menu_content {
    margin: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.related-menu1{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.related-menu1 img {
    width: 200px;
    height: 200px;
    padding-bottom: 30px;
}
.related-menu1 a h2 {
    font-family: var(--parah-fontfamily);
    color: var(--text-color);
    font-size: var(--h2-font);
    padding: 10px 20px;
    border-left: 2px solid var(--text-color);
    border-right: 2px solid var(--second-color);
    border-radius: 10px;
}
.related-menu1 a h2:hover {
    transform: scale(1.1);
    background-color: var(--other-color);
}




footer {
    height: 55vh;
    background-color: var(--main-color);
}
.footer-box {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin:  0 50px;
    height: 40vh;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--text-color);
}  
.footer-content {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-content img {
    width: 200px;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--text-color);
    margin-left: 20px;
    font-family: var(--parah-fontfamily);
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 20px 0 0 10px;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 50px;
    font-size: var(--p-font);
    padding-left: 20px;
}
.footer-navigation{
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
}
.footer-navigation:hover {
    color: var(--second-color);
    transition: .2s;
    border-bottom: 1px dashed var(--text-color);
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px 50px;
    font-size: var(--p-font);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 50px;
}