* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --main-color:#7dd87d;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}

span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--main-color);
    font-size: var(--h2-font);
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}
.icon-left div p {
    font-size: 40px;
}
.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}

.dropdown {
    position: relative;

}
.dropdown span img {
    width:25px;
}
.dropdown span img:hover {
    transform: rotate(180deg);
}
.dropdown span {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    transform: translateY(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
    
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}


.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
} 