* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}


.ingredient-image {
    background-image: url(../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    padding: .625rem 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}

/* .cart_ord-tif {
    height: 85vh;
} */
.section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
}
.cart_content {
    /* height: 80vh; */
    margin: 1.875rem 1.875rem 0 1.875rem;
    padding: 2rem;
    border: 2px solid var(--text-color);
    border-radius: 3.125rem;
}
/* .cart_text {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    justify-items: center;
} */
.cart_text h2 {
    font-family:var(--heading-fontfamily);
    font-size:var(--big-font);
    color: var(--second-color);
    /* width: 13.75rem; */
    /* border: 1px solid var(--text-color); */
    /* text-align: center; */
    /* height: 1.875rem;*/
    padding: .5rem 1rem;
}
.cart_end label {
    /* text-align: center; */
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: bold;
    /* width: 13.75rem; */
    /* border: 1px solid var(--text-color); */
    background-color: var(--other-color);
    border-radius: .5rem;
    padding: .7rem;
    display: flex;
    align-items: center;
}
.cart_end label input {
    height: auto;
    margin-left: .625rem;
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    /* border: transparent; */
    /* border-bottom: 2px solid var(--second-color); */
}
.date {
    /* width: 9.375rem; */
    height: 2.5rem;
}
.number {
    width: 4rem;
    text-align: center;
}
.change {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    justify-items: center;
    /* width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; */

}
.cart_text h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    padding-bottom: 1.5rem ;
    text-align: center;
}
.dishes {
    margin: 0 1.875rem;
    padding: 1.25rem;
    /* width: 37.5rem; */
    border: 1px solid black;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 1rem;

}
.dishes li {
    width: 12.5rem;
    height: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3px;
    border: transparent;
    font-family: var(--parah-fontfamily);
    font-size: var(--normal-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    font-weight: bolder;
    border-radius: .625rem;
}

.cart_end {
    margin: 1.25rem;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); */
    gap: 2rem;
    align-items: center;
    justify-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}
.cart_end img {
    width: 18.75rem;
    height: 15.375rem;
}
.price {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    font-weight: bold;
}
.btn{
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    padding: .625rem 1.25rem;
    border-radius: 1.25rem;
    color: var(--bg-color);
    transition: .2s;
    border: transparent;
}
.btn:hover {
    transform: scale(1.1);
    box-shadow: .5rem .5rem .625rem black;
}
.order, .orderall {
    font-weight: bold;
    background-color: green;
}
.remove {
    font-weight: bold;
    background-color: var(--second-color);
    
}
.btn_cart {
    width: 18.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ensure {
    font-family: var(--parah-fontfamily);
    font-size: 15px;
    opacity: .8;
}
/* .summary {
    position: sticky;
    top: 100px;
    left: 10px;
} */
.sum_content{
    margin: 1.875rem 1.875rem 0 1.875rem;
    padding: 1.5rem;
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    background-color: var(--other-color);
}
.sum_content h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 2px solid var(--bg-color);
}
.sum_name, .sum_details, .sum_end {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    align-items: center;
    justify-items: center;
    padding: 1rem;
    border-top: 2px solid var(--bg-color);
}
.sum_name h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
}
.sum_details p, .sum_end p {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 600;
}

.cart_orderall {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer {
    /* height: 60vh; */
    background-color: var(--other-color);
}
.footer-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 2rem;
    /* height: 69%
    margin: 0 3.125rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; */
    padding:2rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid var(--text-color);
}   
.footer-content {
    padding: 1rem;
    /* display: flex;
    flex-direction: column;
    width: 20%; */
}
.footer-content img {
    width: 12.5rem;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 1.875rem;
    color: var(--text-color);
    margin-left: 1.25rem;
    font-family: var(--parah-fontfamily);
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 1.25rem 0 0 .625rem;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 3.125rem;
    font-size: var(--p-font);
    padding-left: 1.25rem;
}
.footer-navigation{
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-weight: bold; 
}
.footer-navigation:hover {
    color: var(--second-color);
    transition: .2s;
    border-bottom: 1px dashed var(--text-color);
}
.footer-details {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-links a {
    padding: .5rem;
}
.footer-details p {
    padding: 1rem;
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
}

.footer-links a img {
    width: 3.125rem;
}


@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }
    .footer-details {
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    html {
        font-size: 10px;
    }
    
}



/* @media screen and (max-width:400px){
    html{
        font-size: 8px;
    }


    .bx-menu {
        display: block;
    }
    .navigation {
        display: none;
    }
    .responsive-navigation {
        display:none;
        overflow: hidden;
        position: absolute;
        top: 9%;
        right: -100px;
        width: 80px;
        z-index: 10001;
        padding: 0;
        background-color: var(--other-color);
        transition: all .3s ;
        border-radius: 1rem;
    }
    .responsive-navigation li {
        padding: .5rem 0;
        border-bottom: .5px solid var(--bg-color);

    }
    .bx-menu:hover .responsive-navigation {
        display: block;
        right: 0;
    }
    
    .cart_ord-tif {
        height: 95vh;
    }
    .cart_ord-tif-text {
        flex-wrap: wrap;
    }
    .change {
        flex-wrap: wrap;
    }
    .cart_ord-tif-end {
        flex-direction: row;
    }
    .btn_cart {
        justify-content: space-around;
    }
    .cart_ord-tif-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
    }
    

    
    .footer-box{
       margin: 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }
    .footer-content {
        width: 25%;
    }
    .footer-details {
        flex-wrap: wrap;
    }

}

@media screen and (max-width:300px){
    html {
        font-size: 7px;
    }
    .dishes {
        padding: 1.25rem 0;
        margin: 0;
    }
    
} */