* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --main-color:#7dd87d;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--main-color);
    font-size: var(--h2-font);
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}
.icon-left div p {
    font-size: 40px;
}
.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}
.dropdown span {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

.ingredient-image {
    background-image: url(https://www.veganfoodandliving.com/wp-content/uploads/2018/05/GettyImages-695984364.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding: 10px 0;
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}

.cart_ord-tif {
    height: 90vh;
}
.cart_ord-tif-content {
    height: 80vh;
    margin: 30px 30px 0 30px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
}
.cart_ord-tif-text {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
}
.cart_ord-tif-text h2 {
    font-family:var(--heading-fontfamily);
    font-size:var(--big-font);
    color: var(--second-color);
    width: 220px;
    border: 1px solid var(--text-color);
    text-align: center;
    height: 30px;
    padding-bottom: 10px;
}
.cart_ord-tif-text label {
    text-align: center;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: bold;
    width: 220px;
    border: 1px solid var(--text-color);
    padding: 5px;
}
.cart_ord-tif-text label input {
    height: auto;
    margin-left: 10px;
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    border: transparent;
    border-bottom: 2px solid var(--second-color);
}
.date {
    width: 150px;
    height: 40px;
}
.number {
    width: 50px;
}
.cart_dishes h3 {
    font-family: var(--heading-fontfamily);
    font-size: var(--big-font);
    color: var(--text-color);
    padding-bottom: 30px;
    text-align: center;
}
.dishes {
    margin: 0 30px;
    height: 25vh;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;

}
.dishes li {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-left: 10px;
    border: 1px solid black;
    font-family: var(--parah-fontfamily);
    font-size: var(--small-font);
    color: var(--bg-color);
    background-color: var(--second-color);
}

.cart_ord-tif-end {
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.cart_ord-tif-end img {
    width: 300px;
    height: 300px;
}
.btn{
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 10px 20px;
    border-radius: 20px;
}

.btn_cart {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart_orderall {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

footer {
    height: 55vh;
    background-color: var(--main-color);
}
.footer-box {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin: 0 50px;
    height: 40vh;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--text-color);
}  
.footer-content {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.footer-content img {
    width: 200px;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 30px;
    color: var(--text-color);
    margin-left: 20px;
    font-family: var(--parah-fontfamily);
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 20px 0 0 10px;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 50px;
    font-size: var(--p-font);
    padding-left: 20px;
}
.footer-navigation{
    color: var(--bg-color);
    font-family: var(--parah-fontfamily);
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px 50px;
    font-size: var(--p-font);

}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;

}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}

.footer-links a img {
    width: 50px;
}