* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --main-color:#7dd87d;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--main-color);
    font-size: var(--h2-font);
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}
.icon-left div p {
    font-size: 40px;
}
.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}
.dropdown span {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

main {
    background-image: url(https://www.veganfoodandliving.com/wp-content/uploads/2018/05/GettyImages-695984364.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
}
.my-order {
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.my-order_form{
    margin: 50px 0;
    border: 3px solid var(--text-color);
    border-radius: 50px;
    width: 40%;
    height: 80vh;
    background-color: var(--other-color);
    
}
.my-order_form div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 50px;
    width: 80%;
    height: 75vh;

}
.my-order_form div h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
    text-align: center;
    
}
.my-order_form div h3 {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    text-align: center;
    padding: 10px 0;
}
.my-order_form div label {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    border-bottom: 2px solid var(--second-color);
    margin-right: 63%;
    
}
.my-order_form div input {
    height: 30px;
    font-family: var(--parah-fontfamily);
    color: var(--other-color);
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding-left: 20px;
}
.btn-submit {
    background-color: var(--second-color);
    color: var(--bg-color);
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
}
.btn-submit:hover {
    transform: scale(1.1);
    color: var(--text-color);
    border: transparent;
}

footer {
    padding-top:20px ;
}
.footer-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:20px 50px;
    margin:0 30px;
    font-size: var(--p-font);
    border-top: 2px solid var(--text-color);
}
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
}
.footer-details p {
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
    
}
.footer-links a img {
    width: 50px;
}