* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

.ingredient-image {
    background-image: url(../../img/ingredient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 18.75rem;
    padding: .625rem 0;
    
}
.ingredient-image h2 {
    color: var(--bg-color);
    font-size: var(--big-font);
    font-family: var(--heading-fontfamily);
    text-align: center;
    
}

.function_content {
    padding:3.125rem;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 2rem;
    border-bottom: 2px solid var(--text-color);
   
    
}
.function_content img {
    width: 70%;
}
.function_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.function_text h3 {
    padding-bottom: 1rem;
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
}
.function_text p {
    font-family:var(--parah-fontfamily);
    font-size:var(--p-font);
    color: var(--text-color);
    line-height: 2.1875rem;
}

.bdy_menu-content {
    padding: 1.25rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    
}
.dropdown_menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:28.125rem ;
    height: 21.875rem;
    overflow: hidden;
    
}

.dropdown_menu img {
    object-fit: fill;
    height: 16.625rem;
    width: 25rem;
    border-radius: 9.375rem;
    padding: .625rem;
    box-shadow: 0 .5rem 1.25rem black;
}

.dropdown_menu h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_menu-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: -100%;
    border: 1px solid var(--text-color);
    background-color: var(--other-color);
    border-radius: 1.25rem;
    height: 9.375rem;
    width: 12.5rem;
    z-index: 1;
    transition: .5s;
    
}
.dropdown_menu:hover .dropdown_menu-1 {
    left: .625rem;

}
.dropdown_menu-1 div {
    display: flex;
    flex-direction: column;
    margin: .625rem;
}
.dropdown_menu-1 div a {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color:var(--text-color);
    padding: .625rem;
    border-bottom: 2px solid var(--second-color);
}
.dropdown_menu-1 div a:hover {
    transition: .2s;
    color: var(--second-color);
}

/* footer */
footer {
    background-color: var(--other-color);
}
.footer-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 2rem;
    padding:2rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid var(--text-color);
}   
.footer-content {
    padding: 1rem;
}
.footer-content img {
    width: 12.5rem;
}
.footer-content p {
    font-size: var(--p-font);
    line-height: 1.875rem;
    color: var(--text-color);
    margin-left: 1.25rem;
    font-family: var(--parah-fontfamily);
}
.footer-content h3 {
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 1.25rem 0 0 .625rem;
    font-family: var(--heading-fontfamily);
    
}
.footer-content ul {
    line-height: 3.125rem;
    font-size: var(--p-font);
    padding-left: 1.25rem;
}
.footer-navigation{
    color: var(--text-color);
    font-family: var(--parah-fontfamily);
    font-weight: bold; 
}
.footer-navigation:hover {
    color: var(--second-color);
    transition: .2s;
    border-bottom: 1px dashed var(--text-color);
}
.footer-details {
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:1.25rem 3.125rem;
    font-size: var(--p-font);
}
.footer-links {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 12.5rem;
}
.footer-links a {
    padding: .5rem;
}
.footer-details p {
    padding: 1rem;
    font-size: var(--p-font);
    font-family: var(--parah-fontfamily);
}

.footer-links a img {
    width: 3.125rem;
}


@media screen and (max-width:800px) {
    html {
        font-size: 12px;
    }
    .footer-details {
        flex-direction: column;
    }
}
@media screen and (max-width:460px){
    html {
        font-size: 10px;
    }
    
}
