* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

/* content starts */
.content {
    margin: 0 28%;
    padding: 1rem;
    border: 1px solid var(--text-color);
}
.content h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
    text-align: center;
    padding: 1.25rem;
    border-bottom: 1px solid var(--text-color);
}
.menu-type, .category-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    align-items: center;
    justify-items: center;
    padding: 1.5rem 0;
}
.menu-type label, .category-type label {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    padding-right: 1.5rem;
    
}
.menulist, .categorylist{
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    font-size: var(--p-font);
    padding: .3rem;
    font-family: var(--heading-fontfamily);
    color: var(--text-color);
}
.menulist option, .categorylist option{
    font-family: var(--heading-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
}
.show_dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
}
.btn {
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-family: var(--parah-fontfamily);
    font-weight: bolder;
    border: transparent;
}
.show1, .show2{
    background-color: rgb(106, 106, 188);
    color: var(--bg-color);
}
.remove {
    background-color: var(--second-color);
    color: var(--bg-color);
}
.save {
    background-color: var(--thickgreen-color);
    color: var(--bg-color);
}
.buttons_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#input_group {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.heading {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}
.heading p {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
    border-bottom: 1px solid black;
}
.field {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}
.field select {
    padding: 10px 5px;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    background-color: var(--other-color);
    border: transparent;
    outline: none;
    border-radius: 10px;
    text-align: center;
}
.field select option {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    text-align: center;
    padding: .5rem;
}
.field input {
    padding: 15px 5px;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    background-color: var(--other-color);
    border: transparent;
    outline: none;
    border-radius: 10px;
    text-align: center;
}
.field input[type="checkbox"]{
    height: 1rem;
    width: 1.5rem;
}