* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1.25rem;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 2.5rem;
}
.catering {
    width: 4.375rem;
}
.logo {
    width: 7.5rem;
}

.menu-bar {
    font-size: 1.875rem;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.25rem;
    list-style: none;
   
}
.navigation-link {
    padding: 1.25rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    width: 11.25rem;
    border-radius: 1.25rem;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 3.125rem;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: .625rem;
    z-index: 1;
    right: 10%;
    border-radius: 1.25rem;
    width: 6.875rem;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-1.875rem 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: .625rem;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}


/* .menu-add {
    height: 100vh;
}
.menu-add form {
    height: 90%;
} */
form {
    margin: 0 30%;
    padding: 1rem;
    border: 2px solid black;
}
form h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
    padding: 1rem;
    text-align: center; 
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--other-color);
    margin-top: 1rem;
    border-radius: 10px;
    /* height: 90%;
    width: 50vw; */
}
.heading h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    padding: 1rem;
    text-align: center;
}
/* .bx-plus {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
} */
.input_group {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) ;
    align-items: center;
    gap: 1.5rem;
    /* padding-bottom: 1rem; */
}
/* .field {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)) ;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
} */
.input_group input {
    width: 100%;
    padding: 15px 5px;
    font-family: var(--parah-fontfamily);
    font-size: 1rem;
    background-color: var(--other-color);
    border: transparent;
    outline: none;
    border-radius: 10px;
}
.input_group input:focus {
    border: 2px solid var(--text-color);
}
.menuabout {
    height: 100px;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    background: var(--other-color);
    border: transparent;
    border-radius: 10px;
    padding: 1rem;
}
/* .bx-x{
    width: 3rem;
    height: 2rem;
    text-decoration: none;
    background: var(--second-color);
    color: var(--text-color);
    font-size: var(--big-font);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */
/* .add_category{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    background-color: var(--other-color);
    border-radius: 10px;
    padding: 10px 0;
} */


.btn_submit {
    width: 6.25rem;
    padding: .625rem 1.25rem ;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    border-radius: .625rem;
}