* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
:root {
    --bg-color: #ffffff;
    --second-color: #f54300;
    --thickgreen-color:#4b814b;
    --text-color:#130849;
    --other-color:#ebeef7;
    --normal-font:1rem;
    --p-font:1.2rem;
    --h2-font:1.5rem;
    --big-font:2rem;  
    --name-font:3rem;
    --heading-fontfamily:'Kurale', serif;
    --parah-fontfamily:'Josefin Sans', sans-serif;
}
span {
    color: var(--second-color);
}

header {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.icon-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
.icon-left div p {
    color: var(--thickgreen-color);
    font-size: var(--h2-font);
    font-size: 40px;
}
.catering {
    width: 70px;
}
.logo {
    width: 120px;
}

.menu-bar {
    font-size: 30px;
    color: var(--text-color);
    cursor: pointer;  
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    list-style: none;
   
}
.navigation-link {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.navigation-link:hover {
    color: var(--second-color);
    transition: .2s;
}

.dropdown {
    position: relative;
    
}
.dropdown span {
    padding: 20px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    width: 180px;
    border-radius: 20px;

}
.dropdown-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown-content a:hover {
    color: var(--second-color);
}

.dropdown_profile {
    position: relative;
    
}
.dropdown_profile img {
    width: 50px;
}
.dropdown_profile-content {
    display: none;
    position: absolute;
    background-color: var(--other-color);
    padding: 10px 10px;
    z-index: 1;
    right: 10%;
    border-radius: 20px;
    width: 110px;
    
}
.dropdown_profile-content div {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    
    transform: translate(-30px 0);
    
}
.dropdown_profile:hover .dropdown_profile-content {
    display: block;
    
}
.dropdown_profile-content a {
    padding: 10px;
    color: var(--text-color);
    font-size: var(--p-font);
    font-weight: 700;
    font-family: var(--heading-fontfamily);
    border-bottom: 1px solid var(--text-color);
}
.dropdown_profile-content a:hover {
    color: var(--second-color);
}

section {
    height: 60vh;
}
section h2 {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--second-color);
    text-align: center;
    padding: 20px;
    border-top: 1px solid var(--text-color);
}
.content {
    margin: 0 30%;
    height: 60vh;
    width: 40%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--text-color);
}
.menu-type {
    height: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-type label {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
    padding-right: 1.5rem;
    
}
.select-menu {
    
    height: 70%;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
}
.select-menu option{
    font-family: var(--heading-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);

}

.content p {
    font-family: var(--heading-fontfamily);
    font-size: var(--h2-font);
    color: var(--text-color);
}
.content_types {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

}
.content_types div {
    width: 150px;
    border: 1px solid var(--text-color);
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    align-items: center;
}
.content_types div p {
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--text-color);
    padding: 10px;
}
.content_types div input {
    padding: 10px;
}

.btn_submit {
    width: 100px;
    padding: 10px 20px ;
    margin: 0 3% 3% 3%;
    font-family: var(--parah-fontfamily);
    font-size: var(--p-font);
    color: var(--bg-color);
    background-color: var(--text-color);
    border-radius: 10px;
}

